@import '../../../../themes/default-styles';

#team-positions {
  padding: 50px;

  .container-fluid {
    .row {
      .col {
        &.teams {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: calc(100vh - 100px);

          &.lines {
            width: 1px;
            max-width: 1px;
            padding: 0;

            .line {
              width: 1px;
              background-color: #FFF;
            }
          }

          .team {
            position: relative;
            border: 1px solid #FFF;
            padding: 7px 55px;
            margin: 0 15px;
            cursor: pointer;
            background: rgb(131,58,180);
            background: -moz-linear-gradient(134deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            background: -webkit-linear-gradient(134deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            background: linear-gradient(134deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);

            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: -30px;
              width: 30px;
              height: 1px;
              background-color: #FFF;
            }

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              right: -30px;
              width: 30px;
              height: 1px;
              background-color: #FFF;
            }

            s {
              position: absolute;
              width: 40px;
              height: 40px;
              top: -1px;
              left: -1px;
              font-family: $forcedFont;
              font-size: 2.4em;
              text-align: center;
              line-height: 40px;
              z-index: 1;
              text-decoration: none;
              background-color: #FFF;
            }

            span {
              display: inline-block;
              max-width: 205px;
              vertical-align: middle;
              font-family: $forcedFont;
              font-size: 2.4em;
              color: #000;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            i {
              position: absolute;
              width: 22px;
              height: 40px;
              top: -1px;
              right: -1px;
              z-index: 1;
            }

            &:hover,
            &.active {
              color: #D8EA5A;
              border-color: #D8EA5A;

              i {
                background-color: #D8EA5A;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.80);
                -moz-box-shadow:    0px 0px 15px 0px rgba(255, 255, 255, 0.80);
                box-shadow:         0px 0px 15px 0px rgba(255, 255, 255, 0.80);
              }
            }
          }

          &:nth-child(1) {
            .team {
              &:before {
                display: none;
              }
            }
          }

          &:nth-child(2) {
            &.lines {
              .line {
                height: 15%;
              }
            }
          }

          &:nth-child(4) {
            &.lines {
              .line {
                height: 28%;
              }
            }
          }

          &:nth-child(6) {
            &.lines {
              .line {
                height: 56%;
              }
            }
          }

          &:nth-child(7) {
            .team {
              cursor: default;

              &:hover,
              &.active {
                color: #000;
                border-color: #FFF;

                i {
                  display: none;
                }
              }

              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
