@font-face {
    font-family: 'forced';
    src: url('/assets/fonts/forced_square-webfont.eot');
    src: url('/assets/fonts/forced_square-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/forced_square-webfont.woff2') format('woff2'),
         url('/assets/fonts/forced_square-webfont.woff') format('woff'),
         url('/assets/fonts/forced_square-webfont.ttf') format('truetype'),
         url('/assets/fonts/forced_square-webfont.svg#forced') format('svg');
    font-weight: normal;
    font-style: normal;
}
